@charset "UTF-8";

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

:root {
    color-scheme: light dark;
    --text-color: light-dark(#141414, #dddddd);
    --background: light-dark(#fafafa, #18191b);
    --gray-10: light-dark(#ececec, #3f444a);
    --gray-30: light-dark(#dddddd, #51565d);
    --gray-70: light-dark(#5d5d5d, #6d747d);
}

html,
body {
    color: var(--text-color);
    background: var(--background);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
}

p {
    line-height: 1.5em;
}

div.header {
    box-shadow: 0px 0px 10px var(--gray-30);
    margin-bottom: 30px;
}

div.header_frame {
    padding: 25px;
    width: 920px;
    margin: 0px auto;
}

div.frame {
    padding: 0px 20px;
    width: 920px;
    margin: 0px auto;
}

div.title {
    font-size: 1.6em;
}

details.command_container {
    margin: 1.0em 0;
    border: 1px solid var(--gray-30);
    border-radius: 5px;
}

details ::marker {
    color: var(--gray-70);
}

div.group_name {
    font-size: 1.4em;
    margin-top: 2.0em;
}

summary.command_header {
    padding: 0.5em 0.6em;
    border-radius: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    transition: background 0.1s;

    &:hover {
        background: var(--gray-30);
    }
}

details[open] summary.command_header {
    background: var(--gray-10);
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

details summary.command_header:hover {
    background: var(--gray-30);
}

span.command_name {
    display: inline-block;
}

span.command_version {
    color: #aaaaaa;
    font-size: 0.6em;
    margin-left: 0.6em;
    display: inline-block;
}

div.command_content {
    padding-left: 1.0em;
    margin: 1.0em 0.5em;
}

div.scheme_title {
    font-weight: bold;
    margin-top: 1.0em;
    margin-bottom: 0.5em;
}

div.scheme_container {
    overflow: auto;
}

code.language-python.hljs {
    background: transparent;
    border: 1px dotted var(--gray-30);
    color: inherit;
}

.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
    /* override for github highlighter */
    color: var(--schema-blue) !important;
}

@media only screen and (max-width: 1000px) {

    div.header_frame {
        width: auto;
    }

    div.frame {
        width: auto;
    }

}

.footer {
    margin: 40px auto 0;
    padding: 0 20px;
    max-width: 920px;

    hr {
        border-width: 0.5px;
        color: var(--gray-30);
    }

    a.icon {
        display: block;
        max-width: 28px;
        margin: 20px auto;
        fill: light-dark(black, var(--gray-30));

        svg {
            display: block;
            max-width: 100%;
            width: 100%;
        }
    }
}